ul {
    list-style: none;
}

div {
    display:inline-block;
    list-style: none; 
    padding: 20px;
  }

.btn button {
    margin:auto;
}

body {
    background-color: cornsilk !important;
}

nav ul {
    list-style: none;
    border: none;
}

h4 {
    text-decoration: underline;
    box-shadow: grey 2px 5px 10px;
    background-color: rgba(131, 109, 81, 0.5);
}