ul {
    list-style: none;
}

div {
    display:inline-block;
    list-style: none; 
    padding: 20px;
  }

.btn button {
    margin:auto;
}

body {
    background-color: cornsilk !important;
}

nav ul {
    list-style: none;
    border: none;
}