{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block body %}
<h1 class="text-center display-1">Survey Engine</h1>
<p class="text-center">Here at 'Survey Engine' we've been the go to service for your survey needs since 2022.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolor cumque ut similique, amet libero exercitationem animi dignissimos eaque molestias ea, ex, reiciendis sunt! Provident adipisci at possimus libero optio?  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto aspernatur sint voluptate ab, aut debitis modi facilis dignissimos tempore, et corrupti molestiae, fuga minima? Aliquam iusto praesentium atque cum consequatur.</p>
{% endblock %}
{% block footer %}

{%endblock%}