<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Invite</title>
</head>
<body>
    <h1>You're Invited</h1>
    <h2>Party Details</h2>
    <p>Get ready for the party of the century!  Come dressed as a penguin or llama.  Admittance will not be permitted without penguin or llama costume.</p>
    <h2>When? Where?</h2>
    <ul>
        <li>Time: 2PM</li>
        <li>Where: Limantour Beach, Pt Reyes CA</li>
    </ul>
    
</body>
</html>